@import '../../index.scss';

.wallet-summary-panel{
    display: flex;
    align-items: center;
}

.wallet-summary-panel h3{
    display: inline-block;
    margin-right: 1em;    
    background: -webkit-linear-gradient(left, $color-third, $color-third-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wallet-summary-panel .account-display{
    display: inline-block;
    width: 160px;
    height: 42px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 1em;
    background: rgba(255, 255, 255, .1);
    border-radius: 8px;
    line-height: 2.6;
}

.btn-connect-wallet{
    height: 35px;
    margin-top: 0 !important;
    padding: 0 1.5em;
    color: #FFF;
    background: transparent;
    border: 1px solid $color-second;
}