@import '../../index.scss';
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background: #000;
    border-bottom: 1px solid $color-second;
    z-index: 9;
}

.header .container {
    padding: 0;
}

.header-logo {
    height: 40px;
}

.header h3 {
    margin-bottom: 0;
}

.header ul{
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 0;
}

.header ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 3px;
    letter-spacing: 1.5px;
    list-style-type: none;
    margin-right: 1.5em;
    cursor: pointer;
}

.btn-borrow{
    width: 130px;
    height: 42px;
    text-align: center;
    margin-top: 0 !important;
    margin-right: 1em;
    font-weight: 600 !important;
    letter-spacing: 1.5px;
    background: transparent;
    font-weight: 700 !important;
    background: -webkit-linear-gradient(left, #668EB6, #5B97B9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}